@import '../../node_modules/bootstrap/dist/css/bootstrap.css';
@import '../../node_modules/bootstrap/dist/css/bootstrap-theme.css';
@import './css/authentication.css';
@import './css/homepage.css';
@import './css/searchbar.css';
@import './css/navbar.css';
@import './css/zoomEffect.css';
@import './css/card.css';
@import './css/pagination.css';
@import './css/management-page.css';

body
{
    /* color: black;
    background: no-repeat url('http://www.ultrahdfreewallpapers.com/uploads/large/3d-and-abstract/abstract-hd-wallpaper-488.jpg');
    background-size: cover; */
    /* background: -webkit-linear-gradient(#fff,#5c2e91);   */
    /* height: 1000px; */
}

.mdl-layout__header,
.mdl-layout__drawer-button,
.mdl-navigation__link
{
    color: black !important;
}

.mdl-layout__header
{
    background-color: white;
}

.glyph-button-input-group > span
{
    padding: 0;
}

.glyph-button-input-group > span > button,
.glyph-button-input-group > span > button:hover,
.glyph-button-input-group > span > button:focus
{
    padding: 0;

    border: transparent;
    background: transparent;
}

.glyph-button-input-group > span > button > span
{
    width: 50px;
}

.glyph-button-input-group > span > span
{
    width: 50px;
}

@media only screen and (max-width: 500px)
{
    /* bacground-s */
}
