@import '../node_modules/bootstrap/dist/css/bootstrap.css';
@import './css/authentication.css';

body {
  background: black;
}
 .mdl-layout__header,
 .mdl-layout__drawer-button,
 .mdl-navigation__link {
  color: black !important;
}
.mdl-layout__header {
  background-color: white;
}

body{
  color: white;
}

a.nav-item {
  display: inline-block;
  color: white !important;
}

a.nav-item:hover {
  color: rgb(3, 139, 60) !important;
}

a.nav-item.active {
  color: white;
}

