.auth-panel-body.row { 
	padding: 20px 20px 10px !important;
}

.auth-page-container{
	margin-top: 10%
}

.auth-page-container h3 {
	padding-top: 5% !important;
	padding-bottom: 5% !important;
}
.auth-page-container .basic-button {
	margin-top: 7%;
    margin-bottom: -4%;
}