.home-page-menu{
  margin-top: 2%;
}

/* .topics-search-block, .thematic-search-block{
  margin-top: 1%
} */
/* 
.dropdown-menu{
    width: 1000px;
}
.topic-menu-item{
  display: table-column;
} */
/* .topics-search-block > div > div > ul,
 .thematic-search-block > div > div > ul{
  overflow: hidden;
  overflow-y: scroll;
  height: 500px;
} */