.navbar-inverse{
    margin-bottom: 0px;
}

.navbar.navbar-default{
  background: #5c2e91;
    
}

div.navbar-header a {
    color: white !important;
    font-weight: bold;
  }
  .navbar-default .navbar-nav > li > a{
    color: white;
  }
  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
    color: white;
    background-color: #441c71;
    text-decoration: underline;
  }
  .navbar-logo-image{
    padding: 12%;
  }

  @media only screen and (max-width: 500px) {
  .navbar-logo-image{
    padding: 0;
  }
  .panel-login{
    margin-top: 15%;
  }
}
